h1 {
    text-shadow: 2px 2px CornflowerBlue;
}
span{
  cursor:pointer;
}
body  {
    background-image: url("b.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    margin:0;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: CornflowerBlue ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color:CornflowerBlue ;
  color: black;
}

.topnav a.active {
    background-color: CornflowerBlue ;
    color: white;
}
